---
- name: Allocate Elastic IP
  amazon.aws.ec2_eip:
    region: "{{ aws_region }}"
    state: "{{ aws_eip_state | default('absent') }}"
    in_vpc: true
  register: aws_eip_result

- name: Associate Elastic IP with EC2
  amazon.aws.ec2_eip:
    region: "{{ aws_region }}"
    state: "{{ aws_eip_state | default('absent') }}"
    allocation_id: "{{ aws_eip_result.allocation_id }}"
    device_id: "{{ aws_ec2_result.instances[0].instance_id }}"

- name: Show Elastic IP
  ansible.builtin.debug:
    msg: "Elastic IP: {{ aws_eip_result.public_ip }}"
  when: not ansible_check_mode
